{{> message }}{{> nav }}
{{!-- <a href="/">Home</a> --}}
<div class="user-header-container">
  <div class="user-header user-welcome">
    {{#if theUser}}
      <p>
        Welcome [
        {{#if theUser.displayName}}
          {{theUser.displayName}}
        {{else}}
          {{theUser.userName}}
        {{/if}}
        ]
      </p>
    {{/if}}
  </div>
  <div class="user-header">
    {{#if theUser}}
      <a href="/user">Your Repos</a>
    {{!-- {{else}}
      <a href="/user/create">Create Account</a> --}}
    {{/if}}
  </div>
  <div class="user-header">
    {{#if theUser}}
      <a href="/login?logout=1">GitHub Logout</a>
    {{else}}
      <a href="/login">GitHub Login</a>
    {{/if}}
  </div>
</div>